.bannerintegrantes{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotykrl.appspot.com/o/fee_786_587_png.webp?alt=media&token=70b78ef3-e87d-4426-a0bc-5bfd36ec4f70');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20%;
}
.fotofonfo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotykrl.appspot.com/o/resumen-mosaico-geometrico-mosaico-fondo-grafico-vectorial-triangulos-tonos-morados_1164-1494.webp?alt=media&token=41092b5f-3603-4118-820a-47c947040f83');
    background-position: top center;
    background-attachment: fixed;
    padding: 4%;
}
.colorfondo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotykrl.appspot.com/o/resumen-mosaico-geometrico-mosaico-fondo-grafico-vectorial-triangulos-tonos-morados_1164-1494.webp?alt=media&token=41092b5f-3603-4118-820a-47c947040f83');
    background-position: top center;
    padding: 3%;
}